doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title Sudoku
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="styles.css")
	body
		table.sudoku
			tr.row1
				td.column1 5
				td.column2 3
				td.column3
				td.column4
				td.column5 7
				td.column6
				td.column7
				td.column8
				td.column9
			tr.row2
				td.column1 6
				td.column2
				td.column3
				td.column4 1
				td.column5 9
				td.column6 5
				td.column7
				td.column8
				td.column9
			tr.row3
				td.column1
				td.column2 9
				td.column3 8
				td.column4 
				td.column5 
				td.column6
				td.column7
				td.column8 6
				td.column9
			tr.row4
				td.column1 8
				td.column2
				td.column3
				td.column4
				td.column5 6
				td.column6
				td.column7
				td.column8
				td.column9 3
			tr.row5
				td.column1 4
				td.column2
				td.column3
				td.column4 8
				td.column5
				td.column6 3
				td.column7
				td.column8
				td.column9 1
			tr.row6
				td.column1 7
				td.column2
				td.column3
				td.column4
				td.column5 2
				td.column6
				td.column7
				td.column8
				td.column9 6
			tr.row7
				td.column1
				td.column2 6
				td.column3
				td.column4
				td.column5
				td.column6
				td.column7 2
				td.column8 8
				td.column9
			tr.row8
				td.column1
				td.column2
				td.column3
				td.column4 4
				td.column5 1
				td.column6 9
				td.column7
				td.column8
				td.column9 5
			tr.row9
				td.column1
				td.column2
				td.column3
				td.column4
				td.column5 8
				td.column6
				td.column7
				td.column8 7
				td.column9 9
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="main.js")