doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		title Sudoku
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="styles.css")
	body
		header Play Sudoku!
		table.sudoku
			tr.row1
				td.column1.subGrid1#a1
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="5")
				td.column2.subGrid1#a2
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="3")
				td.column3.subGrid1#a3
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column4.subGrid2#a4
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column5.subGrid2#a5
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="7")
				td.column6.subGrid2#a6
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column7.subGrid3#a7
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column8.subGrid3#a8
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column9.subGrid3#a9
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
			tr.row2
				td.column1.subGrid1#b1
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="6")
				td.column2.subGrid1#b2
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column3.subGrid1#b3
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column4.subGrid2#b4
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="1")
				td.column5.subGrid2#b5
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="9")
				td.column6.subGrid2#b6
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="5")
				td.column7.subGrid3#b7
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column8.subGrid3#b8
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column9.subGrid3#b9
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
			tr.row3
				td.column1.subGrid1#c1
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column2.subGrid1#c2
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="9")
				td.column3.subGrid1#c3
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="8")
				td.column4.subGrid2#c4
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column5.subGrid2#c5
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column6.subGrid2#c6
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column7.subGrid3#c7
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column8.subGrid3#c8
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="6")
				td.column9.subGrid3#c9
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
			tr.row4
				td.column1.subGrid4#d1
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="8")
				td.column2.subGrid4#d2
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column3.subGrid4#d3
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column4.subGrid5#d4
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column5.subGrid5#d5
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="6")
				td.column6.subGrid5#d6
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column7.subGrid6#d7
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column8.subGrid6#d8
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column9.subGrid6#d9
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="3")
			tr.row5
				td.column1.subGrid4#e1
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="4")
				td.column2.subGrid4#e2
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column3.subGrid4#e3
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column4.subGrid5#e4
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="8")
				td.column5.subGrid5#e5
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column6.subGrid5#e6
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="3")
				td.column7.subGrid6#e7
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column8.subGrid6#e8
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column9.subGrid6#e9
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="1")
			tr.row6
				td.column1.subGrid4#f1
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="7")
				td.column2.subGrid4#f2
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column3.subGrid4#f3
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column4.subGrid5#f4
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column5.subGrid5#f5
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="2")
				td.column6.subGrid5#f6
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column7.subGrid6#f7
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column8.subGrid6#f8
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column9.subGrid6#f9
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="6")
			tr.row7
				td.column1.subGrid7#h1
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column2.subGrid7#h2
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="6")
				td.column3.subGrid7#h3
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column4.subGrid8#h4
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column5.subGrid8#h5
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column6.subGrid8#h6
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column7.subGrid9#h7
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="2")
				td.column8.subGrid9#h8
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="8")
				td.column9.subGrid9#h9
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
			tr.row8
				td.column1.subGrid7#i1
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column2.subGrid7#i2
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column3.subGrid7#i3
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column4.subGrid8#i4
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="4")
				td.column5.subGrid8#i5
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="1")
				td.column6.subGrid8#i6
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="9")
				td.column7.subGrid9#i7
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column8.subGrid9#i8
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column9.subGrid9#i9
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="5")
			tr.row9
				td.column1.subGrid7#j1
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column2.subGrid7#j2
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column3.subGrid7#j3
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column4.subGrid8#j4
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column5.subGrid8#j5
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="8")
				td.column6.subGrid8#j6
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column7.subGrid9#j7
					input.variableNum(type="number", min="0", inputmode="numeric", pattern="[0-9]*")
				td.column8.subGrid9#j8
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="7")
				td.column9.subGrid9#j9
					input.static(type="number", min="0", inputmode="numeric", pattern="[0-9]*", value="9")
		div.info
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="main.js")