html {
  font-size: 16px;
  background-color: #192930;
  color: #ffffff;
}
body {
  font-size: 62.5%;
  margin: 0;
}
header {
  text-align: center;
  font-size: 2em;
  margin: 0 0 10px 0;
}
table {
  font-size: 2em;
  border-spacing: 0;
  text-align: center;
  margin: auto;
}
td {
  width: 30px;
  height: 30px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  padding: 0;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #192930;
  border-radius: 0;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 1em;
  cursor: default;
  color: transparent;
  text-shadow: 0 0 0 #1e17fc;
  text-align: center;
}
input:focus {
  outline: none;
}
tr :last-child {
  border-right: 1px solid #ffffff;
}
tr :nth-child(3),
tr :nth-child(6) {
  border-right: 2px solid #ffffff;
}
.row3 td,
.row6 td {
  border-bottom: 2px solid #ffffff;
}
.clicked {
  background-color: #edfa5a;
}
.static {
  color: transparent;
  text-shadow: 0 0 0 #ffffff;
}
.collision {
  color: red;
}
.static.collision {
  text-shadow: none;
  color: #ffffff;
}
.clicked.collision {
  color: transparent;
  text-shadow: 0 0 0 red;
}
.info {
  text-align: center;
  font-size: 1.6em;
  margin: 10px 0 0 0;
}
