@squareHeightAndWidth: 30px;
@enteredNumberColor: #5367FC;
@collisionColor: #FA5C43;
@staticNumberColor: white;
@textColor: white;
@borderColor: white;
@clickedElementBackgroundColor: #EDFA5A;
@pageBackgroundColor: #192930;

html {
	font-size: 16px;
	background-color: @pageBackgroundColor;
	color: @textColor;
}

body {
	font-size: 62.5%; // 1em = 10px 
	margin: 0;
}

header {
	text-align: center;
	font-size: 2em; // 20px target / 10px context
	margin: 0 0 10px 0;
}

table {
	font-size: 2em; // 20px target / 10px context
	border-spacing: 0;
	text-align: center;
	margin: auto;
}

td {
	width: @squareHeightAndWidth;
	height: @squareHeightAndWidth;
	border-top: 1px solid @borderColor;
	border-bottom: 1px solid @borderColor;
	border-left: 1px solid @borderColor;
	padding: 0;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: @pageBackgroundColor;
	border-radius: 0;
	border: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-size: 1em; // 20px target / 20px context
	cursor: default;

	// this will effectively remove the blinking cursor of the input field
	color: transparent;
    text-shadow: 0 0 0 @enteredNumberColor;
    text-align: center;
    &:focus {
        outline: none;
    }
}

tr :last-child {
	border-right: 1px solid @borderColor
}

tr :nth-child(3), tr :nth-child(6) {
	border-right: 2px solid @borderColor;
}

.row3 td, .row6 td {
	border-bottom: 2px solid @borderColor;
}

.clicked {
	background-color: @clickedElementBackgroundColor;
}

.static {
	// remove blinking cursor
	color: transparent;
	text-shadow: 0 0 0 @staticNumberColor;
}

.collision {
	color: red;
}

.static.collision {
	// otherwise you get a strange 'glow' type affect
	text-shadow: none;
	color: @staticNumberColor;
}

.clicked.collision {
	// remove blinking cursor
	color: transparent;
	text-shadow: 0 0 0 red;
}

.info {
	text-align: center;
	font-size: 1.6em; // 16px target / 10 px context
	margin: 10px 0 0 0;
}